<!-- HEADER -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Início
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Início</ion-title>
    </ion-toolbar>
  </ion-header>


  <!--SEARCH BAR-->
  

  <ion-card color="danger">
    <ion-card-header>
      <ion-card-title>Troca de Óleo Grátis</ion-card-title>
      <ion-card-subtitle>Na compra de um check-up completo</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Consulte sobre os valores dos serviços
    </ion-card-content>
  </ion-card>

  <ion-card color="primary">
    <ion-card-header>
      <ion-card-title>Chegou a hora de fazer o seu check-up!</ion-card-title>
    <ion-card-subtitle>Não perca tempo e obtenha já a sua revisão</ion-card-subtitle>
    </ion-card-header>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-title>
          Descubra mais features no app
      </ion-card-title>
      <ion-card-subtitle>
        Descontos especiais, clube de fidelidade e muito mais.
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>

</ion-content>
